:root {
  /* colours */
  --page-background-color: #dbd4d2;
  --background-color: #fdf9f5;
  --text-color: black;
  --header-color: black;

  /* typography */
  --font: 'Sometype Mono', monospace;
}

body {
  background: #f3f5f7;
  /* background: linear-gradient(90deg, rgba(243,245,247,1) 0%, rgba(239,234,237,1) 100%);  color: var(--text-color); */
  font-family: var(--font);
  display: flex;
  justify-content: center;
  padding: 80px 30px;
}

#content {
  border: solid 1px rgb(233, 233, 233);
  background-color: var(--background-color);
  width: 1000px;
  padding: 100px;
  padding-top: 70px;
  border-radius: 30px;
  box-shadow: 100px 80px 80px 12px #797f74;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

h1, h2, h3 {
  color: var(--header-color);
  margin-block: 0.5em;
}

h1 {
  font-size: 2rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 2.5rem;
}

p, li {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

a {
  color: #7e8379;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

#pfp {
  min-width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: solid 2px #292525;
}

header div {
  width: 100%;
}

#header-right img {
  width: 2.5rem;
}

#socials {
  display: flex;
  gap: 30px;
  justify-content: end;
  margin-bottom: 20px;
}

#hobbies-places {
  display: flex;
}

.hp {
  width: 50%;
  padding-right: 30px;
}


.knowledge-level-tile {
  display: inline-flex;
  width: min-content !important;
  padding: 7px 15px 7px 12px;
  gap: 10px;

  background: #7e837940;
  border-radius: 50px;
  font-weight: bold;
}

.knowledge-level-tile img, .list-bullet-icon {
  width: 30px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  #content {
    max-width: 80% !important;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  header {
    gap: 50px;
  }

  #socials img {
    width: 20px;
  }

  #pfp { 
    min-width: 130px;
    height: 130px;
  }

  #hobbies-places {
    flex-direction: column;
    gap: 50px;
  }

  .hp {
    width: 100%;
  }
}

/* For mobile devices */
@media only screen and (max-width: 767px) {

  html {
    width: 100vw;
    overflow-x: hidden;
  }

  body {
    padding: 50px 20px;
  }

  
  #content {
    max-width: 70% !important;
    padding: 75px;
  }

  header {
    flex-direction: column;
  }

  #pfp { 
    min-width: 230px;
    height: 230px;
  }

  p {
    text-align: justify;
  }

  ul {
    margin: 0;
  }

  li {
    flex-wrap: wrap;
  }
}

/* For extra small mobile screens */
@media only screen and (max-width: 767px) {


  #content {
    padding: 30px;
    max-width: 80%;
    box-shadow: 30px 30px 50px 12px #797f74;
  }

}

/* For tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  #content {
    max-width: 70% !important;
  }

}